// Fonts mixin
font-url(file)
  return '../fonts/' + file

webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.otf')) format('opentype')
    src url(font-url(file + '.eot')) format('embedded-opentype')
    src url(font-url(file + '.WOFF')) format('woff')
    font-weight weight
    font-style normal

// How to use:
// webfont('font-name', 'file-name', 'weight')
        