.red-stripe-top
    background-color $darkgray
    
    @media $tablet-max
        text-align center

    .logo 
        display block
        margin-bottom 5rem
        
        @media $tablet-max
            margin-left  auto 
            margin-right auto
        
    .fa 
        font-size 2.4rem 
        color $red
        margin-right .2rem
        
    a 
        transition color 0.2s ease-in-out
        
        &:hover
            color $red
            
        
.footer-column 
    @media $small-desktop-min
        margin-bottom 7.7rem

    &:first-of-type
        @media $tablet-max
            padding-top 6rem 
            
        .generic-text
            @media $tablet-max
                margin-bottom 3rem

    &:last-of-type
        @media $tablet-max
            padding-bottom 6rem
            
        @media $small-desktop-min
            padding-top 5rem

.stripe
    width 100%
    display block
    height 7rem
    position relative
    
    &.red
        background-color $red 
        
        .generic-text	
            line-height 7rem
            
        .smaller-lh 	
            line-height 6rem	
                
    &.has-low-margin
        border-bottom 1rem solid #0d0d0d
        
        @media $small-desktop-min 
            margin-bottom 5rem

    &.black
        padding-top 1.5rem
        background-color #000 
        border-top 1rem solid rgba(#000, .2)
    
    .generic-text
        @media $tablet-max 
            font-size 1.3rem
    
.footer-title
    font-size $m
    color $red 
    font-family $bold
    margin-bottom 1.5rem
    display block
    transition color .2s ease-in-out
    
    &.bigger-margin
        margin-bottom 2.5rem
        
    &:hover
        color #FFF !important
        
.phone-instance
    font-family $bold 
    font-size $ms 
    line-height 2.6rem 
    color #FFF
    display block
    
    a 
        color inherit 
            
.whatsapp-footer
    @media $tablet-max
        margin 3rem 0 
        
    @media $small-desktop-min
        margin 2rem 0 
        
    a 
        color inherit
        
.email-footer
    @media $tablet-max
        margin-bottom 3rem 
        
    a
        color inherit
        
.footer-subtitle
    font-size $s 
    color #FFF 
    font-family $bold
    margin-bottom 1.5rem
    display block
    
.footer-list 
    margin-bottom 3rem 
        
    li 
        font-size $xs 
        line-height $m 
        font-family $font
        
        a 
            color #FFF 
            transition color 0.2s ease-in-out
            
        
.signature
    @media $small-desktop-min
        position absolute
        right 0 
        top 50%
        transform translateY(-50%)
            
.signature-link
    @media $tablet-max
        display block
        
    @media $small-desktop-min
        color rgba(#FFF, .2)
        transform translateY(-11px)
        display inline-block
        margin-right 10px
        
        
    &:hover
        color #FFF 
        
.fixed-bottom-menu
    position fixed
    bottom 0 
    background-color $red
    width 100%
    z-index 5
    font-size 0
    height 4.5rem 
    
    @media $small-desktop-min
        display none
    
    .cta-bottom
        width 50%
        text-align center
        font-size $xs 
        color #FFF 
        font-family $bold 
        line-height 4.5rem
        position relative
        
        &:last-of-type
            &:before
                content ''
                display block
                position absolute
                left 0 
                height 3.2rem 
                top 50%
                transform translateY(-50%)
                width .1rem
                background-color #FFF

        i 
            font-size 18px
            margin-right 5px
            

.whatsapp-cta
    position fixed
    top 50%
    transform translateY(-50%)
    right 0 
    z-index 4
    
    @media $tablet-max
        display none
    
    &:hover
        transform translateY(-50%) scale(1.2)
    