.field
    width 100%
    border .2rem solid #000
    padding .5rem 
    
    &:active, &:focus 
        background-color darken(#FFF, 10%)
        transition background-color .2s ease-in-out 
        
.file 
    position relative
    
    .hidden-file
        position absolute
        opacity 0

.budget-request 
    background-color rgba(#000, .6)
    outline 1.1rem solid rgba(#FFF, .2)
    padding 4rem 2rem
    max-width 38rem
    
    .field 
        height 3rem 
        background-color #fff
        padding .5rem 1rem	
        width 100%
        color #414042
        font-size 1.2rem
        border 0

        &.bigger
            height 10rem
    
    .field-wrapper
        margin-bottom 1.5rem
        
    .form-title
        font-family $bold 
        font-size 2.6rem 
        color #FFF 
        margin-bottom 1.5rem 
        
    .btn-default.full-red 
        padding-top 0
        height 3rem 
        width 100%
        font-size 1.8rem
        border .1rem solid $lightred
        
        &:hover
            background-color #FFF 
            color $lightred
            
    .half 
        & + .half
            @media $small-desktop-min
                margin-left 5%

        
.main-contact-form
    .field-wrapper 
        display block
        
        @media $tablet-max 
            margin-bottom 3rem
        
        @media $small-desktop-min
            margin-bottom 2rem 
        
    .field-description
        display block
        @extend .generic-text 
        color $text 
        margin-bottom 1rem
        
    .field 
        height 4.5rem 
        
        &.bigger 
            height 20rem
            
.we-call-form
    display none
    
    @media $tablet-max
        padding 0 1.5rem
    
    @media $small-desktop-min
        position absolute
        left 15%
        top 35% 
        transform rotate(-45deg)
        
    &:before 
        left -9.5rem 
        top -1.5rem
        
    &:after 
        top 4.5rem 
        left -11.3rem
    
    legend 
        font-size 1.4rem 
        margin-bottom 1.5rem
        font-weight bold
        
        @media $tablet-max
            color #FFF 
            text-align left
        
    .field-wrapper 
        margin-bottom 1.2rem
        
        @media $tablet-max
            display block
    
    .field 
        height 4rem 
        
        @media $small-desktop-min 
            background-color #FFF 
            width 24.6rem
            
        &:focus, &:active
            background-color darken(#FFF, 15)
            
        &.bigger 
            @media $small-desktop-min
                width 36.7rem
        
        
.work-with-us-form
    transform rotate(-45deg)
    max-width 52rem
    position absolute
    top 13.5rem
    right -6rem
    
    legend
        font-size 1.8rem 
        margin-bottom 3rem 
        max-width 25rem
        
    .field-wrapper
        margin-bottom 2rem
        
    .field 
        height 3.6rem

    &:before
        left -16rem 
        top 10rem
        
    &:after
        top 15.6rem 
        left 17.7rem
        
.recaptcha
    height 5.8rem 
    background-color #FFF 
    