.skews
    position fixed
    width 100%
    display block
    z-index 8
    top 0 
    padding-top 5rem
    
    .generic-text
        font-size 2rem 
        font-weight bold
        line-height 5rem
        
        @media $small-desktop-min
            margin-left 2rem
        
    .fa 
        font-size 2.4rem
        color $red
        line-height 5rem 
        
    .generic-text
        @media $tablet-max
            display none
    
.bgstripe-opaque
    height 5rem 
    background-color rgba(#000, .4)
    font-size 0
    position absolute
    width 100%
    left 0 
    right 0 
    margin auto
    margin-top 0
    max-width 120rem
    border-bottom-left-radius 5.5rem 
    border-bottom-right-radius 5.5rem
    
    @media $tablet-max
        display none
    
.skewed-whatsapp
    margin-left 2rem
        
[class*="skewed"]
    height 5rem 
    width 5rem 
    background-color #000
    outline .8rem solid rgba(#FFF, .2) 
    transform skewX(35deg)
    text-align center
    
    @media $tablet-max
        display none
        
.unskew
    transform skewX(-35deg)
    
.triangle-wrapper
    position absolute
    left 0 
    right 0 
    margin auto
    display block
    text-align center
    top 0

    @media $tablet-max
        width 40%
    
    @media $small-desktop-min
        width 50rem
        height 27rem
    
.triangle
    width 100%
    background url('../images/common/logo-wrapper.png') no-repeat top center / contain
    display block
    position absolute
    top -5rem
    left 0 
    right 0 
    margin auto
    transition background-color .2s ease-in-out
    
    @media $tablet-max
        height 15.7rem 
        width 100vw
        left -30vw
        pointer-events none
    
    @media $small-desktop-min
        height 100%
        
    &.is-active
        background-color rgba(#000, .97)

.logo
    position relative
    z-index 2
    
    @media $tablet-max
        max-width 120px 
        top -3.5rem
    
    @media $small-desktop-min
        max-width 15.5rem
        max-height 8.5rem
        margin-top -3rem
        
.logo-small
    float left
    display block
    padding-top 1rem
    
    @media $tablet-max
        display none
    
.still 
    transition transform .35s ease-in-out
        
.fixed
    position fixed
    top 0
    width 100%
    box-shadow 0 .4rem 0 rgba(#000, .2)
    transition transform .35s ease-in-out
    
    @media $tablet-max
        height 9rem
        background-color rgba(#000, .9)
    
    @media $small-desktop-min
        background-color rgba(#000, .97)
        min-height 5rem
        transform translateY(-100%)

.header-links 
    @media $tablet-max 
        position absolute
        left 0 
        height 100vh
        background-color #2a2a2a
        top 0
        padding-top 16rem
        z-index 2
        width 100%
        transition all 0.25s ease-in-out
        overflow-y scroll
        
    @media $small-desktop-min
        font-size 0
        display block
        float left 
        width 86.25%
        margin-left 9.8%
        
    &:after
        content ''
        position absolute
        top 0
        left 0 
        width 100vw
        z-index -2
        height 100%
        
    &:before 
        content ''
        background-color $blue 
        width 100% 
        position absolute
        height 100%
        top 0 
        left 0 
        z-index -1
        
    &:not(.is-active)
        @media $tablet-max
            transform translateX(-150%)
        
.link 
    color #FFF 
    font-size 1.5rem 
    
    @media $tablet-max
        font-family $bold 
        line-height 3.8rem 
        display block
        padding-left 1.5rem
        background-color #2a2a2a
        
    &:not(:last-of-type)
        @media $tablet-max
            border-bottom .1rem solid #000
        
    &:after
        content ''
        display block
        width 0 
        position absolute 
        bottom 1.5rem 
        left 0 
        right 0
        height .2rem 
        background-color $red
        transition width 0.25s ease-in-out
        margin auto
        
    &:hover
        & > a 
            color $red
            
    a 
        color inherit
        
    &:not(.nolowborder)
        position relative
        
        &:hover 
            &:after 
                @media $small-desktop-min
                    width 100%
            
    & + .link 
        @media $small-desktop-min
            margin-left 3.5rem 
            
    &.has-schedule-button 
        @media $tablet-max
            position absolute
            bottom 15vh 
            left 0 
            right 0 
            margin auto
            padding-left 0
            text-align center
            display none
            
        @media $small-desktop-min
            width 16.5rem 
            float right
            
    &.has-sublinks
        &:after 
            @media $tablet-max
                content ''
                display block
                clear both 
            
        .svg-inline--fa 
            @media $tablet-max
                display inline-block
                vertical-align top
                float right 
                font-size 1.6rem
                color $teal
                margin-top 1.2rem
            
            @media $small-desktop-min
                display none
            
    &.has-sublinks:hover .mega-menu
        @media $small-desktop-min
            opacity 1
            visibility visible
            transform translateX(0)
            
    &:not(.has-schedule-button)
        @media $small-desktop-min
            padding-top 1.5rem
            padding-bottom 2.5rem
        
    &.phone-and-whatsapp
        @media $tablet-max
            display block
            position absolute
            margin-top 5rem
            bottom 0rem 
            width 100% 
            background-color rgba(#000, .7)
            border-top .5rem solid rgba(#000, .7)
            border-bottom .5rem solid rgba(#000, .7)
            padding 1.5rem
            font-family $bold
            
        @media $small-desktop-min
            display none
            
        a 
            display block
            font-size 2rem 
            color #FFF
            line-height 1.8rem
            
        .fa 
            line-height initial
            color $red 
            font-size 2rem

.sublinks 
    
    @media $tablet-max
        padding 0 1.5rem 
    
    &.is-active
        @media $tablet-max
            margin-bottom 1.5rem
        
    li 
        color #FFF 	
        line-height initial
        
        @media $tablet-max
            padding-top 1.5rem 
        
        
        &:not(:last-of-type)
            @media $tablet-max
                padding-bottom 1.5rem
        
        &:not(.is-category)
            font-size $xs 
            font-family $medium
            
        a 	
            &:hover, &:active
                color $red
                
.is-category 
    font-family $bold !important
    font-size $s 
    
    @media $small-desktop-min
        margin-bottom 2rem
                
.duplicate-title
    font-size $m 
    font-family $bold 
    color $red
    
    @media $tablet-max
        padding .5rem 1.5rem
        background-color rgba(#000, .4)
        border-bottom .2rem solid #000 
        border-top .2rem solid #000
                        
.mega-menu 
    position absolute
    left 0 
    right 0
    margin auto 
    padding 5rem 0
    background-color rgba(#282828, .98)
    overflow hidden
    padding 0
    transition all 0.3s ease-in-out
    border-bottom .7rem solid #000
    
    @media $tablet-max
        width 100%
        z-index 5
        top 21.6rem
        margin-top
        height 100vh 
        overflow-y scroll
    
    @media $small-desktop-min
        width 100vw
        top 5rem
        transition max-height .3s ease-in-out, opacity .25s ease-in-out, padding .2s
        opacity 0
        visibility hidden
        transform translateX(-30px)
        padding 5rem
        
    &:not(.is-active)
        @media $tablet-max
            transform translateX(-100%)
    
.menu-column  
    @media $small-desktop-min
        float left 
        width 15.83%
        
    & + .menu-column
        margin-left 1%
        
    &:nth-of-type(2)
        @media $small-desktop-min
            position relative
            
        &:after
            @media $small-desktop-min
                height 100% 
                content ''
                position absolute
                left -3.5rem 
                top 0
                width .1rem 
                background-color $red
            
    &:not(:first-of-type)
        margin-bottom 1.5rem
    
    &:not(:last-of-type)
        li 
            &:not(:last-of-type)
                @media $tablet-max
                    border-bottom .2rem solid #000
                    
.image-column
    box-shadow 7px 7px 0 #000, 10px 10px 0 rgba(#000, .2)

    @media $tablet-max
        display none

    @media $small-desktop-min
        float right 
        max-width 580px
        width 45%
        
    img 
        box-shadow inset 0 6px 0 rgba(#000, .6)

.up 
    transform translateY(-20rem)

.down
    transform translateY(0) !important		