.overlay 
    width 100% 
    height 100% 
    position fixed
    left 0 
    top 0
    z-index 10
    // display none
    
    @media $tablet-max
        background-color rgba(#000, .9)
    
    @media $small-desktop-min
        background-color rgba(#000, .99)
    
    &.is-open
        display block
    
.modal-wrapper
    position absolute
    left 0 
    right 0 
    margin auto
    
    @media $tablet-max
        top 7rem
    
    @media $small-desktop-min
        top 50%
        transform translateY(-50%)
        text-align center

.modal-background-abstracted
    @media $small-desktop-min 
        border 1.4rem solid #353535
        background-color $red
        display inline-block
        vertical-align top
        transform rotate(45deg)
    
.modal-background
    @media $tablet-max
        height 85vh 
        overflow-y scroll 
        
    &.call
        @media $small-desktop-min
            width 36rem
            height 36rem 
            
        .work-with-us-form, .budget-request
            display none

    &.work
        @media $small-desktop-min
            width 60rem 
            height 60rem
            
        .we-call-form, .budget-request 
            display none
            
    &.budget 
        .we-call-form, .work-with-us-form
            display none !important
        
    .field-description
        color #FFF 
        font-size 1.4rem
        display block
        margin-bottom 1rem
        
    .we-call-form, .work-with-us-form
        &:before, &:after
            @media $small-desktop-min
                content ''
                position absolute
                display block
                background-color #FFF 
                transform rotate(45deg)
            
        &:before 
            @media $small-desktop-min
                width 2.3rem 
                height 2.3rem 
                
        &:after 
            @media $small-desktop-min
                width 5.7rem 
                height 5.7rem
                
    .budget-request
        outline 0 
        background-color transparent 
        
        .field-wrapper
            display block			
                    
.modal-persona
    
    @media $tablet-max 
        display none !important
        
    @media $small-desktop-min
        position absolute
        top -27rem 
        right -5.5rem
        transform rotate(-45deg)
        display none
        
// loader 

.loader-wrapper
    position absolute
    left 0
    right 0 
    top 50% 
    transform translateY(-50%)
    text-align center
    
    .prop 
        position absolute
        left 0 
        right 0 
        margin auto 
        display block
                
        &.red
            height 36rem 
            width 36rem 
            top -20rem
            animation rotate 3s ease-in-out infinite reverse
            
        &.black 
            height 24rem
            width 24rem
            top -14rem
            animation rotate 3s ease-in-out infinite forwards
        
.loader-logo
    text-align center
    font-size $m 
    color #FFF 
    font-family $bold 
    letter-spacing .5rem 
    top -3.4rem
    position absolute
    left 0 
    right 0 
    margin auto
    animation pulse 3s ease-in-out infinite forwards
    
            
body:not(.loaded)
    .modal-wrapper
        display none

@keyframes rotate 
    0% 
        transform rotate(-45deg)
    
    25% 
        transform rotate(-90deg)
        
    50% 
        transform rotate(-135deg)
        
    75% 
        transform rotate(-180deg)
        
    100% 
        transform rotate(-225deg)

@keyframes pulse 
    0% 
        opacity 1
        transform scale(1)
        
    50% 
        opacity .2
        transform scale(.8)
        
    100% 
        opacity 1
        transform scale(1)
