body:not(.loaded)
	.overlay 
		.modal-wrapper
			display none
			
		.alert 
			display none
			
.loaded 
	.overlay 
		display none
		
	.loader-wrap 
		opacity 0

.overlay
	position fixed
	z-index 10
	top 0 
	left 0 
	width 100% 
	background-color rgba($fontGreen, .9)
	height 100%
	
.modal-wrapper
	position absolute
	left 0 
	right 0 
	top 50%
	transform translateY(-50%)
	
	&:not(.is-open)
		display none !important
	
.modal-background
	margin auto
	width 100% 
	border-radius 15px
	border 3px solid $fontGreen
	box-shadow 0 6px  0 #55791d, 0 9px 0 rgba(#000, .1)
	position relative
	background-color #FFF
	background-image url('../images/backgrounds/bg-white-middle.jpg')
	background-repeat no-repeat 
	background-size contain 
	background-position bottom center
	
	@media $tablet-max
		max-height 100vh 
		padding 50px 10px 
		overflow-y scroll
	
	@media $small-desktop-min 
		width 700px
		padding 40px 33px
		
	.generic-text
		@media $small-desktop-min
			max-width 400px
		
.modal-persona 
	position absolute
	right -70px
	bottom 0
	z-index 1
	pointer-events none
	
	@media $tablet-max 
		display none
		
.alert 
	position absolute
	width 320px
	height 320px 
	top 50% 
	transform translateY(-50%)
	padding 130px 10px 20px 10px
	left 0
	right 0 
	margin auto
	background-color #FFF 
	border 5px solid transparent
	border-radius 10px
	text-align center
	
	&.positive
		border-color green 
		
		.generic-text
			color green 
		
	&.negative
		border-color red
		
		.generic-text
			color red
		
	&:not(.is-active)
		display none
		
.loader-wrap 
	position absolute
	top 50%
	transform translateY(-50%)
	left 0 
	right 0 
	margin auto 
	text-align center
	
.spinner
	animation spin 2.5s ease-in-out infinite
	
@keyframes spin 	
	to
		transform rotate(360deg)
		
	
		
		
		
