.prop 
    position absolute
    transform rotate(45deg)
    
    @media $tablet-max
        display none
        
    &.shadowed
        box-shadow 1.5rem 1.5rem 0rem rgba(#000, .2)
        
    &.mobile
        @media $tablet-max 
            display block 
            
        @media $small-desktop-min 
            display none
    
.solid
    &.red 
        background-color $red 
        
    &.black
        background-color #000
        
.transparent
    border 4rem solid #000
    overflow hidden
    background-color transparent
    
    .background
        transform rotate(-45deg)
        position absolute
        top 0 
        left 0
        background-size cover
        background-repeat no-repeat
        background-position center center		
        
.opening-props
    .prop
        &.solid.black 
            height 40rem 
            width 40rem 
            bottom -35rem
            z-index 4
            
            @media $small-desktop-min
                right -40rem
                
            @media $xl-desktop-min
                right -18rem 
                
            
        &.mobile
            width 23.6rem 
            height 23.6rem 
            left -62% 
            bottom -19%
        

.about-props	
    &.center-content 
        .small 
            top -17rem
            
            @media $small-desktop-min
                left -60rem
                
            @media $xl-desktop-min
                left -62rem 
        
        .prop.red 
            top -44.5rem 
            left -39rem
    
    .prop
        &.red
            width 24rem 
            height 24rem
            top -12.5rem
            z-index 3
            
            @media $small-desktop-min
                left -12.5rem
                
            @media $xl-desktop-min
                left 15.5rem
            
    .huge
        width 168.4rem 
        height 168.4rem
        top 11rem
        z-index 3
        
        @media $small-desktop-min	
            right -160rem
        
        @media $xl-desktop-min
            right -130rem

        .background 
            width 106rem
            height 160rem
            left auto
            background-position center center
            right 62rem 
            top 52rem
            background-size contain
            
    .small 
        top -4rem
        width 44rem 
        height 44rem 
        z-index 2
        
        @media $small-desktop-min
            left -60rem
            
        @media $xl-desktop-min
            left -27rem

        .background 
            width 100%
            height 125%
            background-size 65%
            top -14.2rem 
            left 12.5rem
            right 0
            
            
// rest of index props go on index.styl since they didn't repeat