.has-budget-form 
    @media $tablet-max 
        display none
        
    @media $small-desktop-min 
        float left 
        width 29.17%
        margin-bottom 10rem
        
    .shadowed 
        border .2rem solid #d1d3d4
        padding 4rem 2rem
        
        &:not(:last-of-type)
            margin-bottom 4rem 
            
    .budget-request
        background-color #000
        border .2rem solid $red
            
.sidebar-title
    font-size 2.4rem 
    color $red 
    margin-bottom 2rem
    font-family $bold
    
    i 
        font-size 2.8rem
        color #000
        margin-right .2rem
        
.sidebar-preview
    display block
    
    &:not(:last-of-type)
        border-bottom .1rem solid #e5e5e5
        padding-bottom 2rem	
        
.sidebar-image-wrapper
    border .6rem solid #000
    padding .2rem 
    text-align center
    margin-bottom 1rem 
    
.sidebar-post-name
    font-family $bold 
    font-size $s 
    line-height $ms 
    text-transform uppercase
    color #000
    
.category-listing 
    li 
        padding .6rem 0 
        
        &:not(:last-of-type)
            border-bottom .1rem solid #d1d3d4
            
        a 
            color #000
            transition color 0.2s ease-in-out
            
            &:hover
                color $lightred
                
        i 
            font-size 1.8rem 
            margin-right .3rem
    

            

        
        