.btn-default 
    font-family $bold 
    font-size 2rem 
    
    &.red-and-black 
        border .5rem solid $red 
        background-color rgba(#000, .75)
        color #FFF
        text-align center
        
        &:hover
            color $red
            background-color rgba(#FFF, .75)
        
    &.full-red
        border .1rem solid $red 
        background-color $red 
        text-align center
        color #FFF 
        
        &:hover
            border-color #000
            background-color #000

.submit-contact
    display block
    margin-left auto 
    margin-right auto 
    height 4.7rem
    
    @media $tablet-max
        width 100%
    
    @media $small-desktop-min 
        width 36rem
        margin-top 5rem 
                
.go-to-product-page
    width 100%
    height 3.5rem
    display block
    padding-top .5rem
    background-color $lightred
    
.go-to-blog-post
    @extend .go-to-product-page
    
.go-to-workplace-spot
    @extend .go-to-product-page
    
.cta-we-call
    transform skewX(-35deg)
    float right 
    outline .8rem solid rgba(#FFF, .2) 
    height 5rem
    width 27rem
    
    .unskew
        transform skewX(35deg)
    
    @media $tablet-max
        display none
        
.fixed-header-cta
    width 19rem
    height 3.6rem 
    font-size $s
    margin-top .7rem
    border .2rem solid transparent
    
    &:hover
        background-color #FFF !important
        color $red !important
        border-color $red !important
        
.modal-submit
    width 12.8rem
    border .2rem solid #FFF 
    height 4rem 
    font-family $bold 
    font-size 1.8rem
    color #FFF
    display block
    margin-left auto 
    margin-right auto
    
    @media $tablet-max
        background-color $red
        
    @media $small-desktop-min	
        background-color #000
    
    &:hover
        color #000 
        background-color #FFF 
        border-color #000
    
.close-modal
    position absolute
    border 0 
    background-color transparent
    font-size 4.8rem 
    
    @media $tablet-max
        color $red
        top -6rem 
        left 0 
        right 0 
        margin auto
        width 3rem
        
    
    @media $small-desktop-min
        top 1.3rem 
        left 2rem 
        color #FFF
        transform rotate(-45deg)
        
    
    &:hover
        color #000
        transform rotate(-45deg) scale(1.1)
    
.return-submenu
    position absolute
    z-index 5
    left 0
    top 15.7rem
    height 59px
    width 100%
    border 0
    background-color #090908
    color #fff
    text-align left
    font-family $bold
    font-size 1.3rem
    padding-left 1.5rem
    transition opacity .2s ease-in-out
    
    &:not(.is-active)
        transition none
        opacity 0 
        pointer-events none
        
    @media $small-desktop-min
        display none
