// helper~generic classes 

body:not(.loaded)
    overflow hidden
    
    .modal-background
        display none
        
body.loaded
    .loader-wrapper
        display none

.center-content 
    width 100% 
    margin auto 
    max-width 120rem
    z-index 2
    
    &:not(.not-relative)
        position relative
        
    &:not(.nopadding)
        @media $tablet-max
            padding 0 1.5rem
    
.dib 
    display inline-block
    vertical-align top
        
.full 
    @media $small-desktop-min
        display block
        width 100%
        clear both
        
.half
    @media $small-desktop-min
        float left
        width 47.5% 
        display block
        
    & + .half:not(:nth-of-type(2n+3)) 
        @media $small-desktop-min
            margin-left 5%
    
.one-third
    @media $small-desktop-min
        float left 
        width 31.666%
        display block
            
    & + .one-third:not(:nth-of-type(3n+4))
        @media $small-desktop-min
            margin-left 2.5%
            
.one-third-child
    @media $small-desktop-min
        float left 
        width 31.666%
        display block
            
    & + .one-third-child:not(:nth-child(3n+4))
        @media $small-desktop-min
            margin-left 2.5%
            
.one-fourth 
    @media $small-desktop-min
        float left 
        width 23.75%
        
    & + .one-fourth:not(:nth-of-type(4n+5))
        margin-left 1.666%
            
.no-scroll
    overflow hidden

.cleared 
    &:after
        content ''
        display block
        clear both 
        
.centered-text
    text-align center
        
.transitioned-basic
    transition all .2s ease-in-out
    
.shadowed 
    box-shadow rgba(#000, 0.2) .5rem .5rem 0
    
.shaded 
    text-shadow rgba(#000, 0.2) .5rem .5rem 0
    
.has-sidebar 
    @media $small-desktop-min
        float left 
        width 65.83%
        
    &.left 
        @media $small-desktop-min
            margin-left 5%
            
    &.right 
        @media $small-desktop-min
            margin-right 5%
            
.breadcrumb
    background-size cover 
    background-position center center 
    background-repeat no-repeat 
    width 100%
    
    @media $tablet-max 
        padding 9rem 0 6rem 0
        margin-bottom 6rem
    
    @media $small-desktop-min
        margin-bottom 9rem
        padding-top 21rem 
        padding-bottom 10rem
        
    .section-title 
        text-transform uppercase
        
    .generic-text
        @media $tablet-max
            font-size 1.2rem 
            line-height $s 
            margin-bottom 6rem
            
        
        
.has-black-border-bottom
    position relative
    
    &:before
        content ''
        display block
        position absolute
        bottom 0 
        width 100%
        height 5rem 
        background-color rgba(#000, .95)
        box-shadow .4rem .4rem 0 rgba(#000, .2)
        outline .8rem solid rgba(#000, .2)
        z-index 2
        
#map 
    width 100% 
    min-height 42.5rem
    
        
#googleMapWrapper 
    position relative
    
    &:before
        content ''
        display block
        width 100% 
        position absolute
        height 1.5rem
        top 0 
        left 0 	
        background-color rgba(#000, .2)
        z-index 2
    
.has-shaded-copy
    position relative
     
    &:before
        content attr(data-shade) 
        color #2a0d0e 
        top 50% 
        transform translateY(-50%)
        z-index -1 
        opacity .1
        font-family $bold
        letter-spacing -.35rem
        position absolute
        
        @media $tablet-max
            font-size 3.2rem
            line-height 3.2rem		
            left 0
            width 110%
        
        @media $small-desktop-min 
            font-size 7rem
            line-height 7rem
            left -18.8rem 

// pictogram 

.fullscreen-carousel	
    @media $tablet-max
        border-top 2.5rem solid #000 
        border-bottom 2.5rem solid #000 
        margin 4rem auto
        
    @media $small-desktop-min
        border-top 2.7rem solid #000
        border-bottom 2.7rem solid #000
        margin-top 6.5rem
        font-size 0
        
    .slick-list
        margin 0 -.5rem
        
    .slick-slide
        margin 0 .5rem 
                
.fullscreen-carousel-instance
    position relative
    min-height 32rem
    
    @media $tablet-max
        width 100%
    
    @media $small-desktop-min
        width 25%
        overflow hidden
        
    &:before
        content ''
        display block
        width 100% 
        height 100% 
        position absolute
        top 0 
        left 0
        background-color rgba(#000, .6)
        opacity 0
        z-index 3
        transition opacity .15s ease-in-out
        
        @media $tablet-max
            opacity 1
    
    &:hover
        &:before 
            opacity 1
            
        .overlay-triangle
            transform translateY(0)
            
        .grows
            transform scale(1.2)
            
        .overlay-triangle-information
            opacity 1
            transition opacity .2s ease-in-out .2s
            
        
.overlay-triangle
    width 100%
    position absolute
    top 0
    left 0
    right 0
    height 0
    border-style solid
    border-color #000 transparent transparent transparent
    transform translateY(-100%)
    transition all 0.3s ease-in-out
    z-index 2
    
    @media $small-desktop-min 
        border-width 20rem 17rem 0 17rem
        
    @media $xl-desktop-min
        border-width 20rem 24rem 0 24rem
    
.overlay-triangle-information
    position absolute
    top 15%
    left 0 
    right 0 
    margin auto
    z-index 3 
    text-align center
    width 21rem
    opacity 0
    transition opacity .15s ease-in-out .05s
    
    @media $tablet-max
        opacity 1
    
    .fa 
        font-size 3.2rem 
        color #FFF 
        
.product-name-triangle
    margin-bottom 2.8rem
    font-family $bold 
    font-weight bold
    color $red 
    line-height 2.6rem 
    font-size 2.2rem
            
.grows 
    background-size cover 
    background-position center center 
    background-repeat no-repeat 
    position absolute
    top 0 
    left 0 
    width 100%
    height 100%
    transition all .25s ease-in-out .1s
            

.mobile-carousel-orientation
    color #000
    margin 3rem auto
    text-align center
    
    @media $small-desktop-min
        display none
    
    i 
        font-size $s 
    
.zopim
    @media $tablet-max
        display none !important