html 
    @media $tablet-max 
        margin-top 5.6rem

.oldiewarning
    position absolute
    top 0
    left 0 
    right 0
    margin auto
    width 100% 
    height 100% 
    background-color #32363b
    overflow hidden
    z-index 1000
    display none
    
    p, a 
        width 100% 
        margin auto 
        text-align center
        position absolute
        top 500px 
        color #fff
        font-size 40px
        font-family Tahoma, Geneva, sans-serif
            

.lt-ie9 
    overflow hidden 
    
    .oldiewarning 
        display block
        
.sr-only 
    opacity 0 
    pointer-events none 
    position absolute
    top -99999rem
        
.wp-wrap
    p
        @extend .generic-text
        color $text
        margin-bottom 3rem
        
    h2 
        font-family $bold
        margin-bottom 4rem
        font-size 4rem
        text-transform uppercase
        
    h3 
        font-family $bold
        font-size 3rem 
        color $lightred
        margin-bottom 3rem
        text-transform uppercase
        
    h4 
        font-family $bold
        font-size 2rem 
        color #000 
        margin-bottom 2rem 
        text-transform uppercase
        
    ul, ol 
        margin 2rem 0
        list-style-type disc
        padding-left 1.5rem 
        
    li 
        font-size 1.6rem 
        font-family $font 
        line-height 2.4rem
        color $text
        
    a 
        font-size 1.6rem 
        color $lightred
        text-decoration underline !important
        
.sr-only
    position absolute
    opacity 0
    top -999999rem
