// photoshop letter spacing (px) * font-size (px) / 1000 = css letter-spacing (px)

webfont('Zona Pro Bold', 'ZonaPro-Bold', 700);
webfont('Zona Pro Regular', 'ZonaPro', 400)
webfont('Helvetica', 'HelveticaLTStd-Roman', 400);

.section-title
    font-family $bold 
    
    @media $tablet-max 
        font-size 2.4rem 
        line-height 2.6rem
    
    @media $small-desktop-min 
        font-size 4rem 
        line-height 4.4rem

    &.white
        color #FFF
        
    &.red 
        color $red 
        
    &.default-margin
        @media $tablet-max
            margin-bottom 4rem
            
        @media $small-desktop-min
            margin-bottom 6rem
        
    &.smaller-margin
        margin-bottom 4rem
        
    a
        color inherit
        
.section-subtitle
    @extend .section-title
    font-size $m 
    line-height $m
    
    &.default-margin
        
        @media $tablet-max
            margin-bottom 4rem
            
        @media $small-desktop-min
            margin-bottom 6rem
        
    &.smaller-margin
        margin-bottom 3rem
        
    &.red 
        color $red

.generic-text
    font-family $font 
    
    @media $tablet-max
        font-size $xs 
        line-height $s 
        
    @media $small-desktop-min
        font-size $s 
        line-height $m
        
    a 
        color inherit
    
    &.gray 
        color $text
        
    &.white 
        color #FFF 
        
    &.is-paragraph 
        margin-bottom 2rem
        
    &.smaller
        font-size $xs
        
    &.slightly-bigger
        font-size 1.8rem
        
    &.smallest 
        font-size 1.2rem
        
    &.bigger-paragraph
        margin-bottom 6.5rem
        



