.blog-preview	
    @media $tablet-max
        margin-bottom 5.5rem
        
    @media $small-desktop-min
        padding-top 6rem 
        
    .generic-text
        @media $small-desktop-min
            max-width 90rem
            
    .has-shaded-copy
        &:before
            @media $tablet-max 
                max-width 17rem 
                
            @media $small-desktop-min
                max-width 35rem
                
    .blog-post-instance
        min-height 42rem
        
            
// end blog PREVIEW 


.blog-post-instance
    @extend .product
        
body 
    .blog-post-instance
        min-height 43rem
    
.blog-single 
    margin-bottom 4rem
    
.blog-post-title
    @extend .product-title
    color #000
    max-width 21.5rem !important 
    min-height 85px
    
.blog-post-date
    max-width 21.5rem 
    margin 1rem auto 2.5rem auto
    
    @media $tablet-max
        padding-left 2rem
    
    i 
        color $red 
        font-size 1.6rem
        
    span 
        margin-left .3rem 
        margin-top -.2rem

// end blog page

// custom pagination styles 

.wp-pagenavi
    padding .5rem 
    border .2rem solid $text
    font-size 0
    text-align center
    
    a, span 
        border 0 !important
        padding 1rem 
        display inline-block
        vertical-align top
        font-size 1.8rem
        font-family $medium
        color #333132
        transition all .2s ease-in-out
    
        & + a, span 
            margin-left 1rem
    
    a 
        &:hover
            background-color $red
            color #FFF !important

    