// category 

.products
    @media $tablet-max 
        text-align center
        
    @media $small-desktop-min
        padding-bottom 8rem

.product 
    border 1rem solid #000
    padding-top 2.2rem
    padding-bottom .8rem 
    position relative
    
    @media $tablet-max
        max-width 30rem 
    
    @media $small-desktop-min
        margin-bottom 5rem
        min-height 31rem
        
        
.product-full-title
    font-size 3rem 
    color $lightred 
    font-family $bold 
    display block 
    margin-bottom 3.2rem
    
    @media $small-desktop-min
        margin 0 auto 2.2rem 0 
    
.product-title
    font-size $ms 
    color $lightred 
    font-family $bold 
    display block
    
    @media $tablet-max
        text-align center
        margin-bottom 2.2rem
        
    @media $small-desktop-min
        max-width 15.5rem 
        margin 0 auto 2.2rem auto 

.image-wrapper
    margin-bottom 1.1rem
    
    @media $tablet-max
        text-align center
    
// detail 

.full-product
    border 1rem solid #000
    padding .5rem

    .slick-arrow
        position absolute
        top 50%
        transform translateY(-50%)
        border 2px solid transparent 
        background-color $red 
        color transparent 
        font-size 0 
        z-index 3
        width 50px
        height 50px
        border-radius 50%
        box-shadow 0 0 10px 0 rgba(#000, .3)
        transition all .2s ease

        &:before
            content ''
            display block
            position absolute
            left 0 
            right 0 
            margin auto 
            top 50%
            transform translateY(-50%)
            font-size 24px
            color #FFF
            font-family 'fontAwesome'
            transition all .2s ease

        &:hover
            background-color #fff

            &:before
                color $red

    .slick-prev
        left -30px
        right auto 

        &:before 
            content '\f053'

    .slick-next
        right -30px
        left auto

        &:before
            content '\f054'
        
.post-detail-text
    padding-top 7rem
    
    @media $tablet-max 
        text-align center
        padding-bottom 6rem
        
.post-products-description
    
    @media $tablet-max
        margin-bottom 4rem
        