.for-template-page
	@media $tablet-max
		padding-top 30px

	@media $small-desktop-minmax 
		padding-top 200px 
		
	@media $xl-desktop-min
		padding-top 250px
		
	.experimental
		@media $small-desktop-minmax
			top -200px
	
.for-opening
	@media $mobile-max 
		padding-top 435px
		
	@media $tablet-max 
		text-align center
		
	@media $tablet-minmax 
		padding-top 935px 
		padding-bottom 100px
		
	.generic-text.regular
		@media $small-desktop-minmax
			font-size 16px
			line-height 18px
			margin-bottom 15px

	.center-content
		z-index 4
		
	.limited-width
		@media $tablet-max
			margin-left auto 
			margin-right auto
			

.structure
	@media small-desktop-minmax
		padding-top 130px 
		
	@media $xl-desktop-min
		padding-top 180px
		
.background-top
	position absolute
	top 0 
	right 0
	z-index 3
	
	@media $tablet-max
		top 30px 
		left -50%
		max-width 150%
	
	@media $small-desktop-minmax
		max-width 1140px 

.experimental-class
	
	@media $tablet-max
		display none
	
	@media $small-desktop-minmax 
		padding-top 0px 
		padding-bottom 150px
		
	@media $xl-desktop-minmax
		padding-top 100px 
		padding-bottom 200px 

	@media $xxl-desktop-min 
		padding-bottom 280px
		
	.prop
		position absolute
		bottom -175px 
		right 5px
		pointer-events none
		
	.painted-bg
		top -400px
		
.skewed-title
	
	@media $small-desktop-min
		width 900px
		display block
		margin 0 auto 10px auto
	
	.gray
		font-size 36px 
		text-align left
		color $fontGray
		margin-left 65px
		
	.white 
		font-size 84px
		text-align center
		color #FFF 
		
	.yellow 
		font-size 65px
		text-align right
		color $fontYellow
		margin-right 50px
		
	span 
		transform rotate(-8deg) skewX(-8deg)
		display block
		margin-bottom 10px
		font-weight bold
		text-shadow 0 5px 0 rgba(#000, .1)
		