.opening	
    .opening-carousel-instance
        background-size cover 
        background-repeat no-repeat 
        background-position center center 
        
        @media $tablet-max
            min-height 50rem
        
        @media $small-desktop-min
            min-height 80rem
    
    .section-title
        @media $tablet-max
            margin-bottom 4rem 
            padding-top 9.6rem
            
        @media $small-desktop-min 
            padding-top 20rem	
            margin-bottom 3rem
            max-width 56rem
            
    .generic-text 
        @media $tablet-max
            margin-bottom 2rem 
            
        @media $small-desktop-min
            max-width 45rem
            
    .btn-default
        height 5rem
        width 22rem
        display block
        padding-top .8rem
        
        @media $small-desktop-min
            margin-top 1rem
        
    .budget-request 
        position absolute
        right 0 
        
        @media $tablet-max
            display none
    
        @media $small-desktop-min
            top 17rem
             
        
            
// end opening section 

.about 
    @media $tablet-max
        padding 10rem 0 0 0
        
    @media $small-desktop-min
        padding-top 13.5rem
        padding-bottom 9.5rem
        position relative
    
    .generic-text
        @media $small-desktop-min
            max-width 70rem
            
        &:last-of-type
            @media $tablet-max
                margin-bottom 6rem
            
    .has-shaded-copy
        &:before
            @media $small-desktop-min
                max-width 114rem
                            
                
.woman
    position absolute
    top -6rem 
    z-index 2
    display none
    
    @media $small-desktop-min 
        display block
        right -6rem
        
    @media $xl-desktop-min 
        right 21.5rem

.persona-mobile
    width 100%
    height 86rem 
    margin 3rem 0
    background url('../images/backgrounds/02.jpg') no-repeat right center / contain
    
    @media $small-desktop-min
        display none
    
        
.customers
    @media $small-desktop-min
        max-width 70rem
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-flow row wrap 
        justify-content space-between 
        align-items center
         
    .customer-image 
        @media $tablet-max
            display inline-block
            vertical-align top
        
    .slick-current 
        .customer-image
            filter grayscale(0)
        
.customer-instance
    @media $tablet-max
        text-align center
        
    @media $small-desktop-min
        width 20%
        
    & + .customer-instance:not(:nth-of-type(4n+5))
        margin-left 4rem

    &:nth-of-type(-n+4) 
        @media $small-desktop-min
            margin-bottom 5.5rem
            
.customer-image
    filter grayscale(100%)
    
    &:hover
        filter grayscale(0)
        
        
// end about section 
        
.types
        
    .generic-text
        @media $small-desktop-min	
            max-width 90rem
            
    .has-shaded-copy
        &:before 
            @media $tablet-max
                max-width 29rem 
                
            @media $small-desktop-min
                max-width 36rem  
            
    
// end types

.contact 
    position relative
    background url('../images/backgrounds/01.jpg') no-repeat center center / cover
    
    @media $tablet-max	
        padding-bottom 10rem
    
    @media $small-desktop-min
        padding 2rem 0 9rem 0
        
    .prop 
        &.left 
            width 66.4rem
            height 66.4rem
            top -27rem 
            
            @media $small-desktop-min
                left -75rem
            
            @media $xl-desktop-min
                left -50rem 
            
            .background 
                width 50rem 
                height 50rem
                top -7rem 
                left 16rem
            
        &.solid
            height 20.6rem
            width 20.6rem
            bottom 10.5rem
            
            @media $small-desktop-min
                right -30rem 
                
            @media $xl-desktop-min
                right 5.5rem 

        &.transparent.right
            top 4%
            width 61.4rem
            height 61.4rem
            
            @media $small-desktop-min
                right -50%
            
            @media $xl-desktop-min
                right -19%
            
            .background
                width 50rem
                height 70rem 
                top 7rem 
                left -16rem 
            
    &:after
        content ''
        display block
        width 100% 
        position absolute
        height 1.5rem
        bottom 0 
        left 0 	
        background-color rgba(#000, .2)
        
    .has-shaded-copy
        &:before
            @media $small-desktop-min
                max-width 44rem
            
        
.contact-information
    @media $small-desktop-min
        margin-bottom 3.2rem 
        
.contact-information-instance
    @media $small-desktop-min
        font-size 0 
        
    &:not(:last-of-type)
        @media $tablet-max
            margin-bottom 4rem
            
    &:last-of-type
        @media $tablet-max
            margin-bottom 8rem
        
.contact-information-title
    font-family $bold
    font-size  2.8rem
    margin-bottom 3rem
    
    span
        font-family $medium !important 
        font-size $ms
        display block
        font-family $medium 
        
.icon-wrapper
    font-size 4rem 
    color $red
    margin-right 1.5rem
    
    @media $small-desktop-min
        margin-right 1.5rem
        
    .fa-phone
        @media $tablet-max
            margin-top 1.2rem
            
.contact-details
    font-size $ms 
    line-height $m
    font-family $bold
    padding-top .6rem
    
    a 
        color $text
        
        &:hover
            color $red
        
        

