.localization-page
	@media $small-desktop-min
		padding-top 105px 
		
	.experimental-class
		@media $small-desktop-min
			padding-top 0
			
		.painted-bg
			@media $small-desktop-minmax
				top -230px
	
#map-wrapper
	position relative

.breadcrumb-wrapper
	position absolute
	left 0
	top 50px

#map 
	@media $tablet-max 
		height 400px
		
	@media $small-desktop-min 
		height 460px
		background-color $fontGreen
		
.address-information
	@media $mobile-max
		padding-top 320px

	@media $tablet-minmax
		padding-top 385px
		
	@media $tablet-max
		text-align center
		padding-bottom 35px
		
	@media $small-desktop-min
		padding-bottom 200px
		
	@media $small-desktop-minmax 
		padding-top 50px 

	@media $xl-desktop-min
		padding-top 65px 
		
	@media $xxl-desktop-min 
		padding-top 75px 
		
	.section-title
		@media $tablet-max
			padding-top 40px
		
	.limited-width 
		@media $tablet-max
			margin-left auto 
			margin-right auto
		
.woman-prop
	position absolute
	right 0 
	
	
	@media $mobile-max
		top -325px 
		
	@media $tablet-minmax
		top -460px
	
	@media $tablet-max
		left 0 
		margin auto
		
	@media $small-desktop-min
		top -160px
	