.work-props
    position relative
    
    .black
        width 213.2rem 
        height 213.2rem
        top -103rem 
        
        @media $small-desktop-minmax 
            left -248rem 
            
        @media $xl-desktop-min 
            left -236rem

    .red 
        width 23.6rem
        height 23.6rem
        top -46rem 
        left -6rem
        
.workplace-spots 
    @media $tablet-max 
        margin-bottom 10rem
    
    .workplace-spot-instance
        @media $small-desktop-min 
            min-height 46rem

.workplace-spot-instance
    @extend .product
    
    @media $tablet-max
        margin-left auto
        margin-right auto
    
.workplace-spot-title
    font-family $bold
    margin-left auto
    margin-right auto
    margin-bottom 3rem
    max-width 21.8rem
    font-size 2.2rem 
    text-transform uppercase
    min-height 70px
    
.workplace-spot-date
    @extend .blog-post-date